:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --background-color: #f9f7fe;
  --branding-color: #6c63ff;
  --secondery-color: #272142;
}

body {
  font-family: var(--default-font-family);
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-size: normal;
  font-size: 16px;
  line-height: 30px;
}
.main {
  padding: 160px 20px;
  background-color: var(--background-color);
  text-align: center;
}

.main h2 {
  font-family: var(--heading-font-family);
  line-height: 2;
  font-size: 24px;
}

.main p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondery-color);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.space {
  padding: 30px 50px;
}
@media (max-width: 900px) {
  h1 {
    padding-top: 10px;
    font-size: 44px;
  }

  h2 {
    font-size: 44px;
  }

  .container {
    text-align: center;
  }

  .space {
    padding: 0 50px;
  }

  .main {
    padding: 80px 20px;
  }
}
